*.pyc
*.csv
# Sphinx-doc
docs/build/
docs/_build/
# PyCharm
.idea/workspace.xml
.ipynb_checkpoints
# Word Document
*.docx
*.pdf
*.pptx
# egg package
*.egg-info/
#iPython Notebook
*.ipynb
#Sandboxing Folder
sandboxing/
